// Colors
$primary: #FF8563;
$secondary: #17294B;
$gray: #a6a6a6;
$white: #fff;

// Responsive
$breakpointXs: 480px;
$breakpointSm: 600px;
$breakpointMd: 992px;
$breakpointLg: 1180px;
$containerSm: 730px;
$containerMd: 960px;
$containerLg: 1160px;
